.asside {
    margin-left: 1.5em;
    font-size: 0.5em;
}

div.slide.cover h1 {
    position: absolute;
    font-size: 1.7em;
    top: 55%;
    right: 10%;
}

div.slide.cover ul {
    position: absolute;
    top: 25%;
    left: 10%;
}

ul li.indent {
    margin-left:3em;
}

div.slide {
}

div.slide h1 {
    margin-top:1em;
    font-size:1.2em;
}

body {
    font-family: helvetica neue;
}

